/* ===== ARCHIVE ===== */
.archive-section {
    margin: 30px 50px;
    padding: 50px;
    border: 2px solid #3a3a3a;
    border-radius: 20px;
    background: linear-gradient(to bottom, #000, #120000);
    color: white;
    text-align: center;
}

/* TITLE */
.archive-section h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.archive-sub {
    color: #aaa;
    margin-bottom: 50px;
}

/* GRID */
.archive-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

/* CARD */
.archive-card {
    padding: 25px;
    border-radius: 15px;
    background: rgba(20,20,20,0.6);
    border: 1px solid #2a2a2a;
    backdrop-filter: blur(10px);
    transition: 0.3s;
}

/* HOVER */
.archive-card:hover {
    transform: translateY(-10px);
    border: 1px solid red;
    box-shadow: 0 0 30px rgba(255,0,0,0.4);
}

/* TEXT */
.archive-card h2 {
    margin-bottom: 10px;
}

.archive-card p {
    color: #aaa;
    margin-bottom: 20px;
}

/* BUTTON */
.archive-btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    background: linear-gradient(to right, red, darkred);
    color: white;
    text-decoration: none;
}

.archive-btn:hover {
    box-shadow: 0 0 15px red;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .archive-grid {
        grid-template-columns: 1fr;
    }
}